In [32]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [33]:
df=pd.read_csv('data/raw/binancecoin_5y.csv')

In [34]:
df.head()

             open_time     open     high      low    close      volume
0  2020-11-18 06:00:00  27.9986  28.2500  27.8623  28.1745  127905.505
1  2020-11-18 07:00:00  28.1745  28.2727  28.0365  28.2554   78096.619
2  2020-11-18 08:00:00  28.2542  28.3000  28.1500  28.1939   76244.414
3  2020-11-18 09:00:00  28.1918  28.1999  28.0000  28.1842   94428.046
4  2020-11-18 10:00:00  28.1849  28.2991  28.0634  28.2700   82544.949

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43830 entries, 0 to 43829
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open_time  43830 non-null  object
 1   open       43810 non-null  float64
 2   high       43810 non-null  float64
 3   low        43810 non-null  float64
 4   close      43810 non-null  float64
 5   volume     43810 non-null  float64
dtypes: float64(5), object(1)
memory usage: 2.0+ MB

In [36]:
df.describe()

               open          high           low         close        volume
count  43810.000000  43810.000000  43810.000000  43810.000000  4.381000e+04
mean     436.791171    438.915144    434.466423    436.802012  4.311619e+04
std      220.497413    221.446172    219.463309    220.503708  8.039015e+04
min       26.824600     26.916000     26.350000     26.827100  0.000000e+00
25%      277.711450    279.100000    276.300000    277.800000  8.938032e+03
50%      381.700000    384.400000    379.100000    381.700000  1.836222e+04
75%      591.700000    593.800000    589.200000    591.700000  4.277574e+04
max     1368.760000   1375.110000   1343.500000   1368.760000  2.002899e+06

In [37]:
df.isnull().sum()

open_time     0
open         20
high         20
low          20
close        20
volume       20
dtype: int64

In [38]:
df.index=pd.to_datetime(df.open_time)
df = df.sort_index()

In [39]:
df.head()

,open_time,open,high,low,close,volume
open_time,,,,,,
2020-11-18 06:00:00,2020-11-18 06:00:00,27.9986,28.2500,27.8623,28.1745,127905.505
2020-11-18 07:00:00,2020-11-18 07:00:00,28.1745,28.2727,28.0365,28.2554,78096.619
2020-11-18 08:00:00,2020-11-18 08:00:00,28.2542,28.3000,28.1500,28.1939,76244.414
2020-11-18 09:00:00,2020-11-18 09:00:00,28.1918,28.1999,28.0000,28.1842,94428.046
2020-11-18 10:00:00,2020-11-18 10:00:00,28.1849,28.2991,28.0634,28.2700,82544.949

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43830 entries, 2020-11-18 06:00:00 to 2025-11-18 11:00:00
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   open_time  43830 non-null  object
 1   open       43810 non-null  float64
 2   high       43810 non-null  float64
 3   low        43810 non-null  float64
 4   close      43810 non-null  float64
 5   volume     43810 non-null  float64
dtypes: float64(5), object(1)
memory usage: 2.3+ MB

In [41]:
df.drop(['open_time'],axis=1, inplace=True)

In [42]:
df.head()

                        open     high      low    close      volume
open_time
2020-11-18 06:00:00  27.9986  28.2500  27.8623  28.1745  127905.505
2020-11-18 07:00:00  28.1745  28.2727  28.0365  28.2554   78096.619
2020-11-18 08:00:00  28.2542  28.3000  28.1500  28.1939   76244.414
2020-11-18 09:00:00  28.1918  28.1999  28.0000  28.1842   94428.046
2020-11-18 10:00:00  28.1849  28.2991  28.0634  28.2700   82544.949

In [43]:
df.isnull().sum()

open      20
high      20
low       20
close     20
volume    20
dtype: int64

In [44]:
df["missing_flag"] = df["open"].isna().astype(int)

In [45]:
df[["open","high","low","close","volume"]] = (
    df[["open","high","low","close","volume"]].ffill()
)

In [46]:
df.isnull().sum()

open            0
high            0
low             0
close           0
volume          0
missing_flag    0
dtype: int64

# Feature Engineering

In [47]:
df["return_1h"] = df["close"].pct_change().fillna(0)

In [48]:
df["volatility_24h"] = df["return_1h"].rolling(24).std().fillna(0)

In [49]:
df.describe()

,open,high,low,close,volume,missing_flag,return_1h,volatility_24h
count,43830.000000,43830.000000,43830.000000,43830.000000,4.383000e+04,43830.000000,43830.000000,43830.000000
mean,436.718107,438.842345,434.394164,436.729695,4.312812e+04,0.000456,0.000116,0.006864
std,220.507884,221.456800,219.473606,220.514156,8.038178e+04,0.021357,0.008599,0.005177
min,26.824600,26.916000,26.350000,26.827100,0.000000e+00,0.000000,-0.155260,0.000000
25%,277.700000,279.100000,276.270000,277.708225,8.938032e+03,0.000000,-0.002930,0.003729
50%,381.700000,384.350000,379.100000,381.700000,1.837202e+04,0.000000,0.000169,0.005621
75%,591.700000,593.737500,589.100000,591.687500,4.280883e+04,0.000000,0.003233,0.008235
max,1368.760000,1375.110000,1343.500000,1368.760000,2.002899e+06,1.000000,0.148012,0.058697

In [50]:
df["ma_24"] = df["close"].rolling(24).mean()
df["ma_168"] = df["close"].rolling(168).mean()
df["ma_ratio"] = df["ma_24"] / df["ma_168"]

In [51]:
df["vol_change"] = df["volume"].pct_change().fillna(0)

In [52]:
df.head()

,open,high,low,close,volume,missing_flag,return_1h,volatility_24h,ma_24,ma_168,ma_ratio,vol_change
open_time,,,,,,,,,,,,
2020-11-18 06:00:00,27.9986,28.2500,27.8623,28.1745,127905.505,0,0.000000,0.0,NaN,NaN,NaN,0.000000
2020-11-18 07:00:00,28.1745,28.2727,28.0365,28.2554,78096.619,0,0.002871,0.0,NaN,NaN,NaN,-0.389419
2020-11-18 08:00:00,28.2542,28.3000,28.1500,28.1939,76244.414,0,-0.002177,0.0,NaN,NaN,NaN,-0.023717
2020-11-18 09:00:00,28.1918,28.1999,28.0000,28.1842,94428.046,0,-0.000344,0.0,NaN,NaN,NaN,0.238491
2020-11-18 10:00:00,28.1849,28.2991,28.0634,28.2700,82544.949,0,0.003044,0.0,NaN,NaN,NaN,-0.125843

In [53]:
df.isnull().sum()

open                0
high                0
low                 0
close               0
volume              0
missing_flag        0
return_1h           0
volatility_24h      0
ma_24              23
ma_168            167
ma_ratio          167
vol_change          0
dtype: int64

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 43830 entries, 2020-11-18 06:00:00 to 2025-11-18 11:00:00
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   open            43830 non-null  float64
 1   high            43830 non-null  float64
 2   low             43830 non-null  float64
 3   close           43830 non-null  float64
 4   volume          43830 non-null  float64
 5   missing_flag    43830 non-null  int64
 6   return_1h       43830 non-null  float64
 7   volatility_24h  43830 non-null  float64
 8   ma_24           43807 non-null  float64
 9   ma_168          43663 non-null  float64
 10  ma_ratio        43663 non-null  float64
 11  vol_change      43830 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 4.3 MB

In [55]:
df["ma_24"] = df["ma_24"].bfill()
df["ma_168"] = df["ma_168"].bfill()
df["ma_ratio"] = df["ma_ratio"].bfill()

In [56]:
df.isnull().sum()

open              0
high              0
low               0
close             0
volume            0
missing_flag      0
return_1h         0
volatility_24h    0
ma_24             0
ma_168            0
ma_ratio          0
vol_change        0
dtype: int64

In [57]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.ffill(inplace=True)

# Scaling

In [58]:
features=['open','high','low','close',
          'volume','missing_flag','return_1h','volatility_24h',
          'ma_24','ma_168','ma_ratio','vol_change']
scaler=MinMaxScaler()
df[features] = scaler.fit_transform(df[features])

In [59]:
df.head()

,open,high,low,close,volume,missing_flag,return_1h,volatility_24h,ma_24,ma_168,ma_ratio,vol_change
open_time,,,,,,,,,,,,
2020-11-18 06:00:00,0.000875,0.000989,0.001148,0.001004,0.063860,0.0,0.511949,0.0,0.000627,0.001406,0.413399,0.011030
2020-11-18 07:00:00,0.001006,0.001006,0.001280,0.001064,0.038992,0.0,0.521417,0.0,0.000627,0.001406,0.413399,0.006735
2020-11-18 08:00:00,0.001065,0.001027,0.001367,0.001019,0.038067,0.0,0.504772,0.0,0.000627,0.001406,0.413399,0.010769
2020-11-18 09:00:00,0.001019,0.000952,0.001253,0.001011,0.047146,0.0,0.510815,0.0,0.000627,0.001406,0.413399,0.013661
2020-11-18 10:00:00,0.001014,0.001026,0.001301,0.001075,0.041213,0.0,0.521987,0.0,0.000627,0.001406,0.413399,0.009642

In [60]:
df.to_csv("binancecoin_processed.csv")